<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zoctan.solar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- 引导界面 -->
        <activity
            android:name=".main.widget.SplashActivity"
            android:autoRemoveFromRecents="true">
            <intent-filter>

                <!-- 决定应用程序最先启动的Activity -->
                <action android:name="android.intent.action.MAIN" />
                <!-- 决定应用程序是否显示在程序列表里 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 启动界面 -->
        <activity
            android:name=".main.widget.WelcomeGuideActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <!-- 主界面 -->
        <activity
            android:name=".main.widget.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 评测详情界面 -->
        <activity
            android:name=".test.widget.TestDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <!-- 用户登录 -->
        <activity
            android:name=".user.widget.UserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">
            <intent-filter>
                <action android:name="toLogin" />

                <category android:name="user" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 用户信息 -->
        <activity
            android:name=".user.widget.UserDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">
            <intent-filter>
                <action android:name="userDetail" />

                <category android:name="user" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- PostList -->
        <activity
            android:name=".post.widget.PostListActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">
            <intent-filter>
                <action android:name="postList" />

                <category android:name="post" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- PostDetail -->
        <activity
            android:name=".post.widget.PostDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">
            <intent-filter>
                <action android:name="postDetail" />

                <category android:name="post" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".post.widget.PostAddActivity"
            android:label="@string/title_activity_comment_box"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>